.videoSidebar{
    position: absolute;
    top: 50%;
    right: 0.62rem;
    color: #f5f5f5;
}

.videoSidebar_options{
    padding: 0.8rem;
    text-align: center;
}

/*Responsividade*/
@media only screen and (max-width: 27.5rem){
    .videoSidebar{
        top: 46%;
    }
}